# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

1.  Identify the dimensions of the dataset by determining the number of rows and columns it contains.
2. Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
3. Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
4. Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
5. Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [4]:
#- 1. Identify the dimensions of the dataset by determining the number of rows and columns it contains.
df.shape

rows, columns = (df.shape)
print(f"The number of rows is {rows}, and the number of columns is {columns}.")

The number of rows is 4008, and the number of columns is 11.

In [5]:
#2. Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types.
df.dtypes

#customer lifetime value - convert this to a float64
#number of open compaints - convert this to a float64

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [6]:
#3. Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0

In [7]:
#3. Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

df.columns.unique()
df.columns.value_counts()

categorical_columns = ['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class',]
numerical_columns = ['Monthly Premium Auto', 'Income', 'Total Claim Amount', 'Customer Lifetime Value']

for column in categorical_columns:
    unique_values = df[column].unique
    print(f"Column: {column}")
print("The are 6 unique categorical columns")

Column: Customer
Column: ST
Column: GENDER
Column: Education
Column: Policy Type
Column: Vehicle Class
The are 6 unique categorical columns

In [8]:
for column in numerical_columns:
    min_value = round(df[column].min())
    max_value = round(df[column].max())
    print(f"{column}: range from {min_value} to {max_value}")

Monthly Premium Auto: range from 61 to 35354
Income: range from 0 to 99960
Total Claim Amount: range from 0 to 2893
Customer Lifetime Value: range from 2004 to 58167

In [9]:
#4. Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central
#  tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
df.describe()

#CLV: the average is 7339 and the std is 6464. The mean is slightly higher than the median, indicating that it is skewed to the right.
#Income: the average income is 39295 with a std of 30469. The range is from 0 to 99960, which is an indication of a wide range of customer base in terms of earnings
#monthly premium auto: the average monthly premium is 193 with a high standard deviation of 1601. it ranges from 61 to 35354, which indicates a few ectremely high values, also indicated by the median at 83 which is much lower than the mean.
#

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1068.000000,1071.000000,1071.000000,1071.000000
mean,7936.902593,39295.701214,193.234360,404.986909
std,6434.784103,30469.427060,1601.190369,293.027260
min,2004.350700,0.000000,61.000000,0.382107
25%,4034.079950,14072.000000,68.000000,202.157702
50%,5881.742350,36234.000000,83.000000,354.729129
75%,8962.871975,64631.000000,109.500000,532.800000
max,58166.553500,99960.000000,35354.000000,2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [10]:
value_counts = df['ST'].value_counts()
value_counts

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [11]:
least_common = value_counts.sort_values().head(5)

In [12]:
least_common

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

In [13]:
df.

SyntaxError: invalid syntax (791285630.py, line 1)

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
value_counts = df['Policy Type'].value_counts()
value_counts

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [ ]:
max_index = df['Policy Type'].idxmax
max_index

<bound method Series.idxmax of 0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object>

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
personal_auto = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto = df.loc[df['Policy Type'] == 'Corporate Auto']

In [ ]:
avg_income_personal = personal_auto['Income'].mean()
avg_income_corporate = corporate_auto['Income'].mean()

print(avg_income_corporate)
print(avg_income_personal)

41390.31196581197
38180.69871794872

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here